<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EndPointsConfiguration" type="AppsWatcher.Client.EndPoints.Configuration.EndPointsConfigurationSection, AppsWatcher.Client.EndPoints" />
    <section name="InjectionConfiguration" type="AppsWatcher.Common.Core.Configuration.InjectionConfigurationSection, AppsWatcher.Common.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Interval" value="3000"/>
    <add key="ShowIcon" value="false"/>
  </appSettings>
  <EndPointsConfiguration>
    <EndPoints>
      <EndPoint type="AppsWatcher.Client.EndPoints.FileSystemEndPoint"
                assembly="AppsWatcher.Client.EndPoints"
                interval="10000"
                enabled="true"
                autoLoadSession="true">
        <Settings>
          <Setting name="StorePath" value="FileSystemEndPoint" />
        </Settings>
      </EndPoint>
      <EndPoint type="AppsWatcher.Client.EndPoints.DataBaseEndPoint" 
                assembly="AppsWatcher.Client.EndPoints" 
                interval="60000" 
                enabled="false"
                autoLoadSession="false">
        <Settings>
        </Settings>
      </EndPoint>
      <EndPoint type="AppsWatcher.Client.EndPoints.WebApiEndPoint" 
                assembly="AppsWatcher.Client.EndPoints" 
                interval="10000" 
                enabled="true"
                autoLoadSession="false">
        <Settings>
          <Setting name="StorePath" value="http://localhost:49538/api" />
        </Settings>
      </EndPoint>
    </EndPoints>
  </EndPointsConfiguration>
  <InjectionConfiguration>
    <Modules></Modules>
    <Components></Components>
  </InjectionConfiguration>
</configuration>