@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top:100px;">
	<h1 class="center">
	    <p><i class="icon-fire"></i></p>
	    AppsWatcher
	</h1>
	<h4 style="color:#999;" class="center">Count. Check. Study. Improve.</h4>
</div>
