<?xml version="1.0"?>
<InjectionConfiguration>
  <Modules>
    <Module components="AppsWatcher.Common.Models"
            autoRegister="false">
      <ForEachComponent>
        <GenericOf type="AppsWatcher.Repositories.Core.EntityMetadata, AppsWatcher.Repositories.Core"
                   contract="AppsWatcher.Repositories.Core.IEntityMetadata, AppsWatcher.Repositories.Core"
                   singletons="true" />

        <GenericOf type="AppsWatcher.Repositories.Core.QueryGenerator, AppsWatcher.Repositories.Core"
                   contract="AppsWatcher.Repositories.Core.IQueryGenerator, AppsWatcher.Repositories.Core"
                   singletons="true" />
      </ForEachComponent>
    </Module>
    <Module contracts="AppsWatcher.Repositories.Contracts"
            components="AppsWatcher.Repositories">
    </Module>
    <Module components="AppsWatcher.Services"
            contracts="AppsWatcher.Services.Contracts"
            singletons="true">
      <Ensure>
        <Component contractName="IAuthenticationService" type="AppsWatcher.Services.LocalAuthenticationService, AppsWatcher.Services" />
      </Ensure>
    </Module>
    <Module components="AppsWatcher.Services.Helpers"
            contracts="AppsWatcher.Services.Helpers.Contracts"
            singletons="true">
    </Module>
  </Modules>
  <Components>
    <Component contract="AppsWatcher.Web.Session.ISessionManager, AppsWatcher.Web"
               type="AppsWatcher.Web.Session.SessionManager, AppsWatcher.Web"
               singleton="true">
    </Component>
  </Components>
</InjectionConfiguration>