<div class="grid">
    <div class="col_12" style="margin-top:100px;">
	    <h1 class="center">
	        <p><i class="icon-fire"></i></p>
	        This example is blank
	    </h1>
	    <h4 style="color:#999;margin-bottom:40px;" class="center">Add some HTML KickStart Elements to see the magic happen</h4>
	</div>
</div>